## Visual Studio / VS Code
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
.vscode/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.testlog
*.testlog.manifest
TestStore/

## MSBuild
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.map
*.exp
*.lib
*.dll
*.exe
*.netmodule
*.manifest
!*[Aa]pp.manifest

## Publish
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

## Misc
*.Cache
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

## Rider
.idea/
*.sln.iml

## JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Docker
docker-compose.override.yml

## Environment
.env
.env.*
!.env.example

## OS
.DS_Store
Thumbs.db
